body { font-size: 13px; }

.click-effect { cursor: pointer; opacity: 0.8; }
.click-effect:hover { opacity: 1; }

.cursor-pointer { cursor: pointer; }

.form-control { padding: 20px; }
.form-buttons { text-align: right; }

.ui-select-container { padding: 10px 20px 10px 20px !important; }
.ui-select-match span:last-child { font-size: 13px !important; }

.word-wrap { word-wrap: break-word; }

::-webkit-input-placeholder { text-transform: capitalize; }
::-moz-placeholder { text-transform: capitalize; }
:-ms-input-placeholder { text-transform: capitalize; }
input:-moz-placeholder { text-transform: capitalize; }
